{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="{% static 'blog/style.css' %}"/>
		
		<title>Main Page</title>
	</head>
	
	<body>
	
	<h1>Titan's Status</h1>
	
	<h2>Recent Posts</h2>
	<h4>The current time is {{ now }}. </h4>
	<h4>January 21, 2018</h4>
	
	<p>
	Hello World! Once again It's time for deep thoughts. Today let's think about who and what we are, as well as who and what we want to be. I am always thinking about this. Who am I? What is the sum of my actions? 
	Who is it that others see in me that I don't necessarily see in my self? Though the most important question I seem to ask myself a lot is, "Am I the hero, the villain, or the bystander of my story?"
	I mean think about it carefully. Do I make the right choices for the right reasons? I like to think so but on closer reflection I feel like sometimes I am just going through the motions and doing what is expected of me merely because it's expected.
	I believe that it takes action to prove our worth one way or the other, because without it we are truly just bystanders and on lookers in our own story. 
	We should all strive to truly play the main of our stories otherwise, what was the point of having them in the first place? And, what are they even our stories at that point?
	Though, once you pick a path, how do you know it's the right one? Well, in the end that comes down to what you believe to be right now doesn't it?
	<br>
	Here is a great article about this that you should look into. Plus go out and find your own sources.
	<br>
	<a href="https://www.huffingtonpost.com/rob-cipriano/what-is-a-hero_b_5560441.html">
		What is a Hero?
	</a>
	</p>
	
	<h4>January 19, 2018</h4>
	
	<p>
	Today was interesting to say the least. I went to a new movie called The Upside. It was extremely funny and deep in a way. 
	To those who are reading this they should totally see it. 
	I also pondered and learned a lot about what it takes to do the right thing and take pride in that no matter the consequences.
	It's not always easy to live your life to the fullest, strive to do what's right, and take care of those who need you but make it difficult no matter what you do.
	I have been working extremely hard to succeed in this balancing act with out much success, but every time that the light shines through it brings a sense of satisfaction and happiness of such epic proportions that it makes all of the struggling worth it.
	After realizing what needed to be done and how I finally mastered the power of infinity. Then I finished my gauntlet and will now rule the universe how I see fit. 
	Good luck. You all have a 50 percent chance to enjoy the utopia that will follow.
	</p>
	
	<h4>January 17, 2018</h4>
	
	<p>
	I have decided that I would on the growth of artificial intelligence. 
	I want to research whether or not it is a problem that computers are constantly getting closer to being able to learn and think for themselves. 
	As computers continue to grow and progress in this way more people have shown concern for what computers are going to be capable of in the near future. 
	I have always been fascinated by artificial intelligence and what it could accomplish and can't wait to see what it can become. 
	I hope to one day become an artificial intelligence specialist and contribute to these advancements so it would be interesting to learn how people working 
	in this field as well as people in the roll of the consumer who utilize this technology as well.
	</p>
	
	<p>
	I should find out what truly separates machines with machine-learning and artificial intelligence from any other computer reliant machines. 
	I should also look into what are the potential problems to arise from this as well as what could be the potential benefits. 
	There are many who are worried about this from a job standpoint. 
	It would be important to look into what kinds of jobs would be more affected than others as well as how the progress of artificial intelligence could affect the availability of jobs. 
	Another important thing to look into is how plausible are people's main concerns when it comes to the increasing progress in artificial intelligence. 
	Does our dependency on technology and personal ineptitude for day to day things increase as computers become better at performing these tasks for us? 
	What are the most advanced systems capable of today and is it plausible that they could expand into other areas of expertise on their own? 
	</p>
	<a href="{% url 'blog:home'%}"  class="btn">
		Home
	</a>
	<a href="{% url 'blog:TecTips'%}" class="btn">
		Tech Tips
	</a>
	<a href="{% url 'blog:Bio'%}" class="btn">
		About Me
	</a>
	<a href="{% url 'blog:archive'%}"  class="btn">
		Archives
	</a>
	</body>
</html>